@import url("fonts.css");


/*html, body {
	height: 100%;
	font-family: 'FuturaBookC';
	font-size:10px;
}*/

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom:60px; /* this needs to be bigger than footer height*/
	
	height:calc(100vh - 0px) !important;
}
@media screen and (max-width:767px) {
	#wrap {
		min-height: auto !important;
		*border:5px solid blue;
	}
	
	#main {
		overflow:auto;
		padding-bottom:0px; /* this needs to be bigger than footer height*/
		
		height: auto !important;
		
		*border:5px solid green !important;
	}

}

#main-home {
	width:100% !important;
	background:#f9f9f9; 
	
	overflow:auto;
	padding-bottom:0px; /* this needs to be bigger than footer height*/
	
	padding-left:0px !important;
	padding-right:0px !important;
}

.footer{
	background:#fbe049;
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	line-height:60px;
	
	text-align:center;
	clear:both;
	*padding-top:20px;
	
	font-size:160%;
}
@media screen and (max-width:767px) {
	.footer{
		margin-top: 0px; /* negative value of footer height */
		height: auto;
		line-height: normal;
		padding:15px 20px;
	}
}
.footer-home{
	*border:1px solid red;
	background:#fbe049;
	position: relative;

	width:100%;
	
	*margin-left:-60px;
	
	
	*margin-top: -60px; /* negative value of footer height */
	height: 60px;
	line-height:60px;
	
	text-align:center;
	clear:both;
	*padding-top:20px;
	
	font-size:16px;
} 
@media screen and (max-width:767px) {
	.footer-home{
		height: auto;
		line-height: normal;
		padding:15px 20px;
	}
}


/****/ 
.dropdown-menu > li.kopie > a {
	padding-left:5px;
}
 
.dropdown-submenu {
	position:relative;
}
.dropdown-submenu>.dropdown-menu {
	
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
	*border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {
  .navbar-nav  {
	 display: inline;
  }
  .navbar-default .navbar-brand {
	display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
	color: red;
	background-color: #ccc;
	border-radius: 4px;
	*margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	 color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	 background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
	 border-bottom: 1px solid white; 
	 border-radius: 0;
   }
  .dropdown-menu {
	  padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
	  padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
	  padding-left: 30px;
   }
   li.dropdown.open {
	border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
	display: block;
  }
  #navbar {
	text-align: center;
  }
}  

/****/
#login-dp{
	min-width: 250px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
	font-size:12px    
}
#login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}
#login-dp .social-buttons{
	margin:12px 0    
}
#login-dp .social-buttons a{
	width: 49%;
}
#login-dp .form-group {
	margin-bottom: 10px;
}
.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	#login-dp{
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}

/****/
  ul.galeri-home {         
	  padding:0 0 0 0;
	  margin:0 0 0 0;
  }
  ul.galeri-home li {     
	  list-style:none;
	  margin-bottom:25px;           
  }
  ul.galeri-home li img {
	  cursor: pointer;
  }
  .modal-body {
	  padding:5px !important;
  }
  .modal-content {
	  border-radius:0;
  }
  .modal-dialog img {
	  text-align:center;
	  margin:0 auto;
  }
/*.controls{          
	width:50px;
	display:block;
	font-size:11px;
	padding-top:8px;
	font-weight:bold;          
}*/
.next {
	float:right;
	text-align:right;
}
  /*override modal for demo only*/
  .modal-dialog {
	  *max-width:500px;
	  *padding-top: 90px;
	  
	  
  }
  @media screen and (min-width: 768px){
	  .modal-dialog {
		  width:500px;
		  padding-top: 90px;
	  }          
  }
  @media screen and (max-width:1500px){
	  #ads {
		  display:none;
	  }
  }
  
	
		
