.paging_nav{}

.pagesLL{
	display:block;
	width:100%;
	text-align:center;
	margin-top:18px;
}

span.nextprev{
	background:#f0f0f0;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
span.current{
	background:#ef7600;
	color:#FFF;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pagesLL-margin a{
	background:#00aeef;
	color:#FFF;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

