<IfModule mod_php4.c>
  php_value engine off
</IfModule>
<IfModule mod_php5.c>
  php_value engine off
</IfModule>

<FilesMatch "\.(?:inc|shtml|php|php4|php5|php6|php56|php7|php_|php%|pjpeg)$">

Order allow,deny

Deny from all

</FilesMatch>